@import './_grid';
@import '~susy';

.footer {
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  padding: 1rem 0;
}

.footer-container {
  @include container;
  text-align: center;
}

.footer-icon {
  fill: white;
  margin: 0 1rem;

  &:hover {
    fill: #c52d2f;
  }
}
