@import '~sass-flex-mixin/flex.scss';
@import "~susy";
@import './_grid';

.home-page {
  height: 800px;
  background: url('/img/full.jpg') no-repeat center center;
  background-size: cover;

  @include flexbox;
  @include justify-content(center);
  @include align-items(flex-start);
}

.home-text {
  text-align: center;
  color: white;
  width: 100%;
  padding: 0 1rem;

  h1 {
    font-size: 2rem;
    @include susy-breakpoint($breakpoint-m) {
      font-size: 3rem;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    @include susy-breakpoint($breakpoint-m) {
      font-size: 1.5rem;
    }
  }

  background: -webkit-linear-gradient(
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,0.99),
    rgba(0,0,0,0.98),
    rgba(0,0,0,0.97),
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.93),
    rgba(0,0,0,0.91),
    rgba(0,0,0,0.80), 
    rgba(0,0,0,0.65), 
    rgba(0,0,0,0.45), 
    rgba(0,0,0,0));
}

.home-about-button {
  color: white;
  padding: 0.5rem 0.75rem;
  background-color: #c52d2f;
  border-radius: 3px;
  font-size: 0.9rem;

  &:hover {
    background-color: black;
    transition: 0.3s;
  }
}
