// website colors
$primaryRed: #FA0209;
$primaryBackgroundGray: #a3a3a3;
$secondaryBackgroundGray: #8c8c8c;
$primaryTextGray: #595959;

// social media colors
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$instagram: #8a3ab9;
$soundcloud: #ff3a00;
$snapchat: #fffa37;
