/** FOR GRIDS **/
@import "~susy";

// screen size breakpoints
$breakpoint-xxs: 0;
$breakpoint-xs: 320px;
$breakpoint-s: 480px;
$breakpoint-m: 720px;
$breakpoint-l: 1000px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// susy config
$susy: (
  columns: 12,
  gutters: 0.25,
  container: $breakpoint-l,
  global-box-sizing: border-box,
  gutter-position: split
);
