@import "~scss/grid";
@import "~react-image-gallery/src/image-gallery";

.about-page {
  @include container;
  padding: 1rem 1rem 2rem 1rem;
}

.about-pics-gallery {
  background-color: white;
  padding: 1rem;
  @include susy-breakpoint($breakpoint-m) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include susy-breakpoint($breakpoint-l) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.about-info-para {
  margin: 2rem 0 1rem;

  padding: 1rem 1.5rem;
  @include susy-breakpoint($breakpoint-l) {
    padding: 1.5rem 2rem;
  }
}

.about-info-para-title {
  font-weight: bold;
  margin-bottom: 1rem;

  font-size: 1.3rem;
  @include susy-breakpoint($breakpoint-m) { font-size: 1.4rem; }
  @include susy-breakpoint($breakpoint-l) { font-size: 1.5rem; }
}

.about-info-para-text {
  color: #333;

  font-size: 0.85rem;
  @include susy-breakpoint($breakpoint-m) { font-size: 0.9rem; }
  @include susy-breakpoint($breakpoint-l) { font-size: 0.95rem; }
}
