@import "~scss/grid";
@import "~react-image-gallery/src/image-gallery";

.about-page {
  background-color: #eee;
}

.about-page-container {
  min-height: 100%;
  @include container;
  padding: 2rem 0;
  background-color: white;

  @include susy-breakpoint($breakpoint-l) {
    border: 1px solid #ccc;
    border-top: 0;
  }
}

.about-pics-gallery {
  padding: 0 1rem;
  @include susy-breakpoint($breakpoint-m) {
    padding: 0 4rem;
  }
  @include susy-breakpoint($breakpoint-l) {
    padding: 0 8rem;
  }
}

.about-pic-original {
  img {
    width: 100%;
  }
}

.about-pic-thumbnail {
  img {
    width: 10%;
  }
}

// overrides thumbnail background color
.image-gallery-thumbnails {
  background-color: transparent !important;
}
// overrides thumbnail display
.image-gallery-thumbnail {
  display: initial;
}

.about-info-para {
  padding: 3rem 2rem;
  @include susy-breakpoint($breakpoint-l) {
    padding: 3rem 3rem;
  }
}

.about-info-para-text {
  font-size: 0.9rem;
  color: '#ddd';
}
